.container {
    flex-wrap: wrap;
    align-items: center;
    background-color: #2941AB;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: #181818;
}

.navbar button {
    background-color: #1CCA5C;
    color: white;
    border: none;
    padding: 17px 50px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.navbar li {
    float: right;
    color: white;
    list-style: none;
    margin-left: 900px;
    font-weight: bold;
}

.navbar button:hover {
    background-color: #282828;
}

.nav button {
    background-color: #1CCA5C;
    color: white;
    border: none;
    padding: 1px 50px;
    margin-left: 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}